[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
pandas = "*"
"github3.py" = "*"
"jinja2" = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
all = "python -m exercism --all"
